/* 
    Nombre estudiante: Germán A. Riveros Sepúlveda.
    Generación: 14.
    Jornada: Vespertina.   
    Desafío: Branching. 
    Link repositorio: https://github.com/german-rs/git-landing
*/

body {
  background: #342E37;
}

.container {
  padding-top: 30px;
}

h1 {
  color: #fff;
  font-family: 'Space Mono', monospace;
  font-size: 3rem;
  text-align: center;
  font-weight: 300;
}

.container img {
  max-width: 30%;
  padding: 20px;
  display: block;
  margin: 0 auto;
}

form {
  padding: 30px;
}

.btn {
  outline: none;
  border: none;
  cursor: pointer;
  display: block;
  position: relative;
  background-color: #676264;
  padding: 20px 80px;
  margin: 0 auto;
  border-radius: 20px;
  box-shadow: 0 6px #2E282A;
}

.btn a {
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  font-weight: 300;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
}

.btn:hover {
  box-shadow: 0 4px #2E282A;
  top: 2px;
}

.btn:active {
  box-shadow: none;
  top: 6px;
}

/* Animación para título. */
@keyframes slideDown {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.slide-down-title {
  animation: slideDown 3s ease-in-out;
}



/* Animación para imagen */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

.fade-in-img {
  opacity: 0;
  animation: fadeIn 3s ease-in-out forwards;
}


/* Animación para botón. */
@keyframes slideLeft {
  from {
    opacity: 0;
    transform: translateX(100%);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.slide-left {
  animation: slideLeft 3s ease-in-out;
}